input[type="number"] {
  width: 50px !important;
  text-align: right;
}

.card {
  padding: 1rem;
}

.control {
  width: 56px;
  height: 56px;
}

.control-lg {
  width: 84px;
  height: 84px;
}

#bpmDiv {
  text-align: center;
}

#bpmRangeDiv {
  display: block;
  margin: auto;
  width: 90%;
}

#startStop {
  display: block;
  margin: 0 auto;
}

#startStop i {
  font-size: 2rem;
}

#trainer {
  text-align: center;
}

#counters {
  text-align: center;
}

#controls {
  text-align: center;
}

#tempoDisplay {
  width: 112px;
  height: 112px;
  font-size: 3rem
}

.select-dropdown.dropdown-trigger {
  text-align: center;
}

.select-dropdown.dropdown-content span {
  text-align: center;
}

#tempoMarkingsDiv2 {
  width: 400px;
  margin: auto;
}

#tempDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#trainerDiv {
  height: 4rem;
  overflow: hidden;
  transition: 0.3s height;
}

#trainerHeader {
  padding: 0 4rem;
}