input[type="number"] {
  width: 50px !important;
  text-align: right;
}

.card {
  padding: 1rem;
}

#bpmDiv {
  text-align: center;
}

#bpmRangeDiv {
  display: block;
  width: 100%;
}

#startStopDiv {
  display: block;
  width: 40px;
  margin: 0 auto;
}
#startStop {
  display: block;
}

#trainer {
  text-align: center;
}

#counters {
  text-align: center;
}

#controls {
  text-align: center;
}

.control {
  
}

#tempoDisplay {
  display: inline-block;
  line-height: 33px;
  height: 36px;
  width: 80px;
}