input[type="number"] {
  width: 50px !important;
  text-align: right;
}

.card {
  padding: 1rem;
}

.brand-logo img {
  height: 32px;
}

.brand-logo span {
  height: 64px;
}

.control {
  width: 56px;
  height: 56px;
}

.control-lg {
  width: 84px;
  height: 84px;
}

#bpmDiv {
  text-align: center;
}

#bpmRangeDiv {
  display: block;
  margin: auto;
  width: 90%;
}

#startStop {
  display: block;
  margin: 0 auto;
}

#startStop i {
  font-size: 2rem;
}

#trainer {
  text-align: center;
}

#counters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 400px;
  margin: auto;
}

#counters div {
  text-align: center;
}

#clickCounter, #breakCounter {
  font-size: 2rem;
}

#controls {
  text-align: center;
}

#tempoDisplay {
  width: 112px;
  height: 112px;
  font-size: 3rem
}

.select-dropdown.dropdown-trigger {
  text-align: center;
}

.select-dropdown.dropdown-content span {
  text-align: center;
}

#tempoMarkingsDiv2 {
  width: 400px;
  margin: auto;
}

#tempDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#trainerDiv {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

#trainerDiv.open {
  max-height: 32rem;
}

#trainerDiv.closed {
  max-height: 4rem;
}

#trainerHeader {
  padding: 0 4rem;
}

/* .switch label input[type=checkbox]:checked+.lever {
  background-color: white;
} */

.switch label input[type=checkbox]:checked+.lever:after {
  background-color:#1A237E;
}

#trainerBody {
  /* display: grid;
  grid-template-columns: 3fr 1fr;   */
  padding: 0 4rem;
}

#tempoModal {
  text-align: center;
  width: 30%;
}
#tempoModal input {
  width: 80px !important;
  font-size: 2rem;
}
#tempoModal .btn {
  width: 90px;
}